@import './fonts.css';

body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg,
            #2b2b2b 0%,
            #2b2b2b 10%,
            #222222 0%,
            #222222 50%) 0 / 15px 15px;
    font-family: Iceland;
    color: #fff;
}

.fd_titleText {
    padding: 0;
    margin: 0;
    text-shadow: 0 0 0.2em #228dff;
}

h1.fd_title {
    font-size: 12em;
}