.fd_gameState > h2 {
    font-size: 5em;
    padding: 0.3em;
}

.fd_gameState .fd_score {
    padding-top: 5em;
    padding-bottom: 2em;
    position: relative;
    min-height: 10em;
}

.fd_gameState .fd_player {
    position: absolute;
    top: 0.8em;
    left: 1em;
    font-size: 1.5em;
}

.fd_gameState .fd_time {
    text-align: center;
    font-size: 3.3em;
}

.fd_gameState .fd_winner {
    box-shadow: rgb(255, 145, 0) 0 0 0.6em 0.2em;
}

.fd_gameState .fd_star {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 2em;
}

.fd_gameState .fd_lap {
    margin-right: 12%;
}

.fd_gameNotice {
    text-align: center;
    font-size: 7em;
    margin-top: 2em;
}
